TODO
DB_PORT=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_PASSWORD=
DATABASE_URL= 
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
PRIVATE_STRIPE_KEY=
REACT_APP_STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK=
STRIPE_WEBHOOK_ENDPOINT_ID=
REACT_APP_DEV_PASS=
REACT_APP_SERVICE_WORKER=disabled


#5432
#db_username
#postgresql
#mydb
#db_secret_password
#db_URL
#access_token_secret password
#refresh_token_secret password
#client_URL
#stripe_Key
#stripeWebhookKey
#stripeWebhookEndpointId
#debugSettingsPassword
#enabled/disabled